<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <filter>
            <filter-name>sessionFilter</filter-name>
            <filter-class>fit.hcmuaf.edu.vn.foodmart.filter.SessionFilter</filter-class>
        </filter>

        <filter-mapping>
            <filter-name>sessionFilter</filter-name>
            <url-pattern>/addCustomer</url-pattern> <!-- Đặt URL của servlet cần kiểm tra -->
        </filter-mapping>


        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/productDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyCouponServlet</servlet-name>
        <url-pattern>/apply-coupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove</servlet-name>
        <url-pattern>/remove-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flash-sale</servlet-name>
        <url-pattern>/flash-sale</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order-his</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VNPayPaymentServlet</servlet-name>
        <servlet-class>fit.hcmuaf.edu.vn.foodmart.controller.VNPay.VNPayPaymentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VNPayPaymentServlet</servlet-name>
        <url-pattern>/vnpay-payment</url-pattern>
    </servlet-mapping>

</web-app>